<p>search-bar works!</p>
<div>
    <div *ngIf="authorMode; else NoAuthor">
        <label for="author">Auteur</label><input id="author" type="text" placeholder="Search by author">
        <button  (click)="getImagesOfAuthor(1)">Search !</button>
    </div>
    <ng-template #NoAuthor>
        <input id="search" type="text" placeholder="Find everything !">
        <label for="date_min">Date minimum</label><input id="date_min" type="date">
        <label for="date_max">Date maximum</label><input id="date_max" type="date">
        <label for="tag">Tag</label><input id="tag" type="text" placeholder="add tag for your research !">
        <button  (click)="getImages(1)">Search !</button>
    </ng-template>
    <br>
    <div class="custom-control custom-switch">
       <input type="checkbox" (change)="changeAffichageMode()" [checked] = "affichageMode" class="custom-control-input" id ="afficheMode">
       <label class="custom-control-label" for="afficheMode">Affichage en liste</label>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" name="SafeSearch" checked="true" class="custom-control-input" id="safeSearch">
        <label class="custom-control-label" for="SafeSearch">SafeSearch</label>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" (change)="changeAuthorMode()" [checked] = "authorMode" class="custom-control-input" id="authorMode">
        <label class="custom-control-label" for="authorMode">Recherche par auteur</label>
    </div>
</div>
<hr>
<div *ngIf="page_number && authorMode">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        <li>
            <a class="page-link" href="#" (click)="getImagesOfAuthor(page_position-1)">Previous</a>
        </li>
          <li class="page-item"><a class="page-link" href="#">{{page_position}} / {{page_number}}</a></li>
          <li class="page-item">
            <a class="page-link" href="#" (click)="getImagesOfAuthor(page_position+1)">Next</a>
          </li>
        </ul>
      </nav>
</div>
<div *ngIf="page_number && !authorMode"> 
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        <li>
            <a class="page-link" href="#" (click)="getImages(page_position-1)">Previous</a>
        </li>
          <li class="page-item"><a class="page-link" href="#">{{page_position}} / {{page_number}}</a></li>
          <li class="page-item">
            <a class="page-link" href="#" (click)="getImages(page_position+1)">Next</a>
          </li>
        </ul>
      </nav>
</div>
<div *ngIf="error">
    <div class="alert alert-warning" role="alert">
        {{this.errorMessage}}
      </div>
    
</div>
<div *ngIf="loading; else NoLoading" class="d-flex justify-content-center">
    <div class="spinner-border text-primary"  style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<ng-template #NoLoading>
    <images-presentation [message]=affichageMode [list_images]=tab_images></images-presentation>
</ng-template>
<hr>
